
    <div class="registro">
        <h1 class="text-center fs-1">Articulo</h1>
        <hr>
        <br>
        <form [formGroup]="formRegister">
            <div class="row">
                <div class="col-2 col-ms-12">
                  <label for="producto"><b>Codigo:</b></label>
                </div>
                 <div class="col-10">
                  <input type="number" formControlName="codigo" id="codigo" class="form-control" >
                 </div>
                </div>
                <br>
            <div class="row">
               <div class="col-2 col-ms-12">
                 <label for="producto"><b>Producto:</b></label>
               </div>
                <div class="col-10">
                 <input type="text"  formControlName="producto" id="producto" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                  <label for="costo"><b>Costo:</b></label>
                </div>
                <div class="col-10">
                  <input type="number" formControlName="costo"  id="costo" class="form-control">
                </div>
            </div>
            <br>
            <div class="">
                <button type="submit" class="btn btn-primary" (click)="registrar()">Registrar</button>
            </div>
        </form>
    </div>
    

