<div class="container">
    <h1 class="fs-1 text-center">Lista de Productos</h1>
    <br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">codigo</th>
        <th scope="col">producto</th>
        <th scope="col">costo</th>
        <th scope="col">eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of tienda">
        <td>{{prod.codigo}}</td>
        <td>{{prod.producto}}</td>
        <td>{{prod.costo}}</td>
        <td>
            <button class="btn btn-danger" (click)="onClickDelete(prod)">Eliminar</button>
            <!-- <button class="boton2" (ciclk)="onClickEditar(prod)">Editar</button> -->
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="">
    <button mat-button class="btn btn-info" (click)="openDialog()">Agregar datos</button>   
</div>
 


  